.createPresentationSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #F1F3F4;
    height: 210px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    /*padding-left: 5%;*/
}
.presentationCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 210px;
    height: calc(210px * 9 / 16);
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border: #EDEDED solid 1px;
    transition: border 0.3s, background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.presentationCard:hover {
    background: #dadada;
}
.plusIcon {
    font-size: 50px;
    color: #4CAF50;
}
.presentationTitle {
    font-size: 20px;
    text-align: center;
}
.cardTitle {
    font-size: 16px;
    text-align: center;
}
