.ElementsList {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-top: 2px solid #D9D9D9;
}
.ElementsListTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementsCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}
.elementTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elementsCard {
    padding: 6px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 180px;
    height: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 1px 1px 1px #D9D9D9;
    cursor: pointer;
}
.elementsCard:hover {
    /*background-color: #e9f5ff; */
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);*/
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #C7C7C7;
}
.elementsCardSelected {
    border: 1px solid #0B57D0;
}
.elementsCardSelected:hover {
    border: 1px solid #0B57D0;
}

.elementsCard button {
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.elementsCard button:hover {
    background-color: #fdcdd1;
}

.noElementsMessage {
    text-align: center;
    padding-top: 20px;
}
.line {
    width: 100%;
    padding: 1px;
    margin: 10px 5px 0 5px;
    background-color: #D9D9D9;
}
