.toolPanelWrapper {
    display: flex;
    height: 175px;
    background-color: #F1F3F4;
    gap: 10px;
    padding: 4px;
    overflow-y: auto;
    scrollbar-width: none;
}

.panelMain {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 5px;
    max-width: 210px;
    padding: 5px;
}

.toolsElementsWrapper {
    display: flex;
    flex-direction: column;
    /*gap: 4px;*/
    flex: 1;
}

.toolsElements {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panelsButtonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.undoableButtonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}