.slideListWrapper {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 10px 0;
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
    border: 1px solid #9f9f9f;
    gap: 10px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    align-items: center;
}
