.insertPanelWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    z-index: 10;
    gap: 5px;
    /*min-width: 800px;*/
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    gap: 5px;
}

.insertPanelTitle {
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemEditWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.smallImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.smallImage {
    width: 80px;
    height: 45px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.imageDownloadWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
