.shapeEditWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #D9D9D9;
    width: 420px;
    gap: 5px;
    z-index: 10;
    border-radius: 6px;
    padding: 5px;
}
.shapeEditTitle {
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shapeEditItem {
    display: flex;
    flex-direction: row;
}

.itemBlocWrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    align-items: center;
    padding: 2px;
}

.itemEditWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.editItemsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}