.slideItemWrapper {
    display: flex;
    justify-content: space-between;
}
.slideItem {
    min-width: 150px;
    height: 84px; /*calc(150px * 9 / 16)*/
    cursor: pointer;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 1px #D9D9D9;
    position: relative;
    overflow: hidden;
}
.slideItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #C7C7C7;
}
.slideMoveButtons {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slideItemSelected {
    border: 2px solid #0B57D0;
}
.slideItemSelected:hover {
    border: 2px solid #0B57D0;
}

.slideItemPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #999;
    text-align: center;
}

.slideItemNumber {
    text-align: center;
    margin: 0;
    min-width: 30px;
}
.slideToolWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    cursor: default;
}

.selected {
    background-color: #d3d3d3; /* Цвет выделения */
}
