.rotationEditWrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid #D9D9D9;
    border-radius: 6px;
    /*width: 200px;*/
    max-width: 260px;
    min-width: 260px;
    gap: 5px;
}
.rotationButtons {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rotationEditRange {
    display: flex;
    align-items: center;
    gap: 6px;
}
.rotationButtonsTitle {
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type="range"] {
    width: 100%;
    padding: 4px 0;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
}
