.deleteIconContainer {
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.deleteIcon {
    z-index: 1;
    color: #5f6368;
    transition: color 0.2s ease;
}

.deleteIconContainer:hover .deleteIcon {
    color: #d93025;
    transform: scale(1.04);
}

.deleteIconContainer:hover::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(217, 48, 37, 0.1);
    opacity: 1;
    transition: all 0.2s ease;
    z-index: 0;
}

.deleteIconContainer:active::after {
    background-color: rgba(217, 48, 37, 0.2);
    transform: scale(0.95);
}

.deleteIconContainer:active .deleteIcon {
    color: #b31412;
    transform: scale(0.96);
}