.themeEditWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #D9D9D9;
    gap: 5px;
}

.themeEditWrapper p {
    padding: 3px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.themeEditScrollWrapper {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 5px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 800px;
}

.themeItem {
    width: 150px; /* Ширина карточки */
    height: 84px; /*calc(150px * 9 / 16)*/
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 1px #D9D9D9;
    object-fit: cover;
    flex-shrink: 0;
}
.themeItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #C7C7C7;
}
.themeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.selectedTheme {
    border: 2px solid #2275ff;
}
.selectedTheme:hover {
    border: 2px solid #2275ff;
}
