.slideEditorWrapper {
    background-color: #007bff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideEditor {
    width: 1200px;
    height: calc(1200px * 9 / 16); /*675px*/
    background-color: #4CAF50;
    position: relative;
}