.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    gap: 10px;
    padding: 4px;
}

.editIconContainer {
    cursor: pointer;
    margin-top: 2px;
}

.editIcon {
    z-index: 1;
}
.editIconContainer:hover {
    transform: scale(1.1);
}
.presentationTitleInput {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-weight: bold;
    width: 300px;
}
.cardTitle {
    font-size: 16px;
    color: #333;
    margin: 0;
}

input[type="text"] {
    width: 100%;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    box-sizing: border-box;
}
input[type="text"]:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}
input[type="text"] {
    -moz-appearance: textfield;
}
input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputError {
    border: 1px solid red;
}


