.toolPanelWrapper {
    display: flex;
    height: 150px;
    background-color: #F1F3F4;
    gap: 10px;
    padding: 10px;
}

.panelMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px
}

.toolsElementsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
}

.toolsElements {
    display: flex;
    flex-direction: row;
    gap: 10px;
}