.toolPanelWrapper {
    display: flex;
    height: 180px;
    background-color: #F1F3F4;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.panelMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px
}

.toolsElementsWrapper {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    flex: 1;
}

.toolsElements {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panelsButtonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}